* {
  margin: 0;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav__logo {
  width: 160px;
  height: auto;
}

.searchbar {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  column-gap: 20px;
}

.searchbar__input {
  background-color: #FFFFFF;
}

.pokedex__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}